.hamburgerResize {
    width: 50px;
    height: auto;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
#navbar{
    z-index: 3 !important;
  }