.img-resizeTeamsss {
    width: 100%;
    height: auto;
}

.iconResize {
    width: 85%;
    height: auto;
    margin-top: 70px;
    margin-left: 8px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.itcLoadIn {
    animation: fadeInAnimation ease 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}