@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loadInAnim {
    animation: fadeInAnimation ease 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.linkHover:after {
        content: "";
        display: block;
        position: relative;
        background-color: red !important;
        width: 0% ;
        border-bottom: 5px solid #A379C9 !important;
        transition: width .5s ease, background-color .5s ease;
    }

    :hover:after {
        width: 100%;
    }

.paddingBottom {
    padding-top: 50px;
    padding: 40px 0;
}

.mouseText {
    background-color: white;
    border-style: double;
}

    